<%-include ("partials/header.ejs") %>
    <div class="about">
        <div>
            <h2 class="about-title">
                About
            </h2>
            <p class="about-text">
                For the "The Hacking Blog" project, I designed and programmed a dynamic blog web application as part of
                an exercise in the "The Complete 2024 Web Development Bootcamp" taught by Dr. Angela Yu. This project
                leverages Node.js and Express.js to build a robust web server, and EJS for templating to create dynamic
                HTML content. The application enables users to create, view, update, and delete blog posts, although
                posts do not persist between sessions as no database integration is implemented in this version.
                Emphasizing user experience, the application is well-styled and responsive, ensuring compatibility
                across both desktop and mobile devices. Deliverables include the full Node.js project with clearly
                structured routes, EJS files for page layouts, and a comprehensive CSS file for styling. This project
                showcases my ability to plan, set up, and implement a full-stack application, integrating key web
                development principles and best practices.
            </p>
        </div>


    </div>


    <%-include ("partials/footer.ejs") %>